<div class="content-wrapper">
  <div class="title-container">
    <h1 class="title">{{ isEditMode ? 'Edit User' : 'Add New User' }}</h1>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">User Information</h5><br>
              <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                
                <div class="form-group">
                  <label for="code"><i class="fas fa-barcode"></i> Code:</label>
                  <input type="text" formControlName="code" class="form-control" id="code" placeholder="Enter user code">
                </div>

                <div class="form-group">
                  <label for="firstName"><i class="fas fa-user"></i> First Name:</label>
                  <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Enter first name">
                </div>

                <div class="form-group">
                  <label for="lastName"><i class="fas fa-user"></i> Last Name:</label>
                  <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Enter last name">
                </div>

                <div formGroupName="adress" class="form-group">
                  <label><i class="fas fa-map-marker-alt"></i> Address:</label>
                  <div class="address-fields">
                    <input formControlName="street" class="form-control" placeholder="Street">
                    <input formControlName="houseNumber" class="form-control" placeholder="House Number">
                    <input formControlName="zipCode" class="form-control" placeholder="Zip Code">
                  </div>
                </div>

                <div class="form-group">
                  <label for="ville"><i class="fas fa-city"></i> City:</label>
                  <input type="text" formControlName="ville" class="form-control" id="ville" placeholder="Enter city">
                </div>

                <div class="form-group">
                  <label for="mf"> M.F:</label>
                  <input type="text" formControlName="mf" class="form-control" id="mf" placeholder="Enter M.F">
                </div>

                <div class="form-group">
                  <label for="phoneNumber"><i class="fas fa-phone"></i> Phone Number:</label>
                  <input type="text" formControlName="phoneNumber" class="form-control" id="phoneNumber" placeholder="Enter phone number">
                </div>

                <div class="form-group">
                  <label for="email"><i class="fas fa-envelope"></i> Email:</label>
                  <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
                </div>

                <div class="form-group">
                  <label for="password"><i class="fas fa-lock"></i> Password:</label>
                  <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter password">
                </div>
               
                <div class="form-group">
                  <label for="status"><i class="fas fa-info-circle"></i> Status:</label>
                  <select formControlName="status" class="form-control" id="status">
                    <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
                  </select>
                </div>
                
               
                
                <div class="btn-group d-flex justify-content-center mt-2">
                  <button class="btn btn-outline-secondary btn-sm" type="button" (click)="router.navigate(['/user/list'])">
                    <i class="fas fa-arrow-left"></i> Back to List
                  </button>
                  
                  <button
                  type="submit"
                  class="btn btn-outline-primary btn-sm mx-2"
                  [disabled]="userForm.invalid"
                >
                  <i class="fas fa-edit"></i> {{ isEditMode ? 'Update' : 'Add' }}
                </button>
                <button
                *ngIf="isEditMode"
                type="button"
                class="btn btn-danger btn-sm"
                (click)="onDelete()"
              >
                <i class="fas fa-trash"></i> Delete
              </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
