<section class="user-container">
  <div class="header">
     <div class="title-container">
        <h2 class="title">Users List</h2>
      </div>
     <a routerLink="/user/form" class="btn btn-success"><i class="fas fa-plus"></i> Create New User</a>
  </div>

  <br>
  <div class="user-grid">
    <div class="user-card" *ngFor="let user of users">
      <div class="user-header">
        <h3>{{ user.email }}</h3>
        <p><strong>Status:</strong> {{ user.status }}</p>
      </div>
      <div class="user-details">
        <p><strong>First Name:</strong> {{ user.firstName }}</p>
        <p><strong>Last Name:</strong> {{ user.lastName }}</p>
        <p *ngIf="user.adress"><strong>Address:</strong> {{ user.adress.street }}, {{ user.adress.houseNumber }}, {{ user.adress.zipCode }}</p>
        <p *ngIf="!user.adress"><strong>Address:</strong> None</p>
      </div>
      <div class="user-actions">
        <a [routerLink]="['/user/detail', user.id]" class="btn btn-sm btn-primary"><i class="fas fa-eye"></i> View</a>
        <a [routerLink]="['/user/form', user.id]" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</a>
        <a (click)="deleteUser(user.id)" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
      </div>
    </div>

    <div *ngIf="users.length === 0" class="no-users">
      No users to display.
    </div>
  </div>

</section>
