/* Category Container */
.category-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  flex-direction: column; /* Stack title and search-wrapper vertically */
  margin-bottom: 20px;
}

.title-container {
  margin-bottom: 20px; /* Space between title and search wrapper */
}

.title {
  font-size: 40px;
  margin: 0;
  color: black;
  text-align: center; /* Center text horizontally */
}

.search-wrapper {
  display: flex;
  justify-content: center; /* Center search and sort button horizontally */
  align-items: center;
  gap: 10px; /* Space between search input and buttons */
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
}

.sort-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-button:hover {
  background-color: #1e7e34;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
}

.category-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.category-details {
  padding: 10px;
}

.category-details h3 {
  font-size: 18px;
  margin: 10px 0;
}

.category-details p {
  font-size: 14px;
  color: #555;
}
