.category-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between; /* Space between title and buttons */
  align-items: center;
  margin-bottom: 20px;
}

.title-container {
  flex: 1;
  text-align: center; /* Center title horizontally */
}

.title {
  font-size: 40px;
  margin: 0;
  color: black;
}

.header-buttons {
  margin-left: auto; /* Align button to the right */
}

.new-category-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.1em;
  align-self: flex-start; 
}

.new-category-btn:hover {
  background-color: #218838;
}

.search-sort-wrapper {
  display: flex;
  justify-content: center; /* Center search and sort horizontally */
  align-items: center;
  gap: 20px; /* Space between search and sort */
  margin-bottom: 20px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
}

.sort-wrapper {
  display: flex;
  align-items: center;
}

.sort-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-button:hover {
  background-color: #1e7e34;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
}

.category-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.category-details {
  padding: 10px;
}

.category-details h3 {
  font-size: 18px;
  margin: 10px 0;
}

.category-details p {
  font-size: 14px;
  color: #555;
}

.edit-btn {
  margin-top: 8px;
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.edit-btn:hover {
  background-color: #e0a800;
}

.delete-btn {
  margin-top: 8px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #c82333;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
}
