.product-container {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title-container {
  flex: 1;
  text-align: center;
}

.title {
  font-size: 40px;
  margin: 0;
  color: black;
}

.my-cart-btn {
  background-color: rgb(255, 98, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.1em;
  align-self: flex-start;
}

.my-cart-btn:hover {
  background-color: #e67e22;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  width: 200px;
  transition: transform 0.3s ease;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.product-image:active {
  transform: scale(0.95);
}

.product-details {
  margin-top: 8px;
}

.product-price {
  color: red;
  margin-top: 10px;
}

.add-to-cart-btn {
  margin-top: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.more-details-btn {
  margin-top: 8px;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.more-details-btn:hover {
  background-color: #218838;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
}

.back-to-list-btn {
  background-color: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Optional: Adds space below the button */
}

.back-to-list-btn:hover {
  background-color: #e2e6ea;
}
